.message pre {
  width: 100%;
  max-width: 100%;
  font-size: 14px;
  padding-right: 2.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-top-right-radius: var(--rounded-box, 1rem);
  border-top-left-radius: var(--rounded-box, 1rem);
  border-bottom-right-radius: var(--rounded-box, 1rem);
  border-bottom-left-radius: var(--rounded-box, 1rem);
  margin: 0;
  min-height: 6rem;
}

.message table {
  font-size: 0.8em;
}

.message table thead tr {
  text-align: left;
}

.message table th,
.message table td {
  padding: 0.6rem 1rem;
}

.message table tbody tr:last-of-type {
  border-bottom: 2px solid #64748b40;
}

.dark .message {
  --c-text: rgba(255, 255, 255, 0.6);
  --un-prose-invert-headings: var(--c-text);
  --un-prose-invert-links: var(--c-text);
  --un-prose-invert-code: var(--c-text);
  --un-prose-invert-body: var(--c-text);
}

.message a {
  text-decoration: none;
  border-bottom: 1px dashed;
}

.message a:hover {
  text-decoration: none;
  border-bottom: 1px solid;
}

.dark .message a:hover {
  color: rgba(255, 255, 255, 0.8);
}
.message ul {
  list-style: inside;
}
#message-container-img .avatar img {
  transform: scale(1.6);
}
